<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <title>Share Project</title>
  </head>
  <body class="flex py-32 mx-auto max-w-screen-sm overflow-y-scroll">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col justify-content gap-2">
        <h1 class="font-bold text-3xl">Almost Done!</h1>
        <p class="text-lg">
          We appreciate you setting up the integration. To help you get the most out of this
          connection, you can easily link specific pages or teams you want to integrate with us.
          Here's how:
        </p>
      </div>
      <div class="flex flex-col">
        <ol>
          <li class="text-lg">
            <span class="font-bold">Step 1:</span> Go to the

            <a
              class="text-blue-600 underline"
              href="https://figma.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="w-[20px] h-[20px] text-blue-600 inline"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
                />
              </svg>
              Figma</a
            >
            website and log in to your account.
          </li>
          <li class="text-lg">
            <span class="font-bold">Step 2:</span> You can share by Team or by page. Click on the
            "Share" button in the top right corner of the screen.
            <div class="flex mt-4">
              <div class="">
                <img src="./images/share.png" alt="Copy" class="w-[231px] h-[57px]" />
              </div>
            </div>
          </li>
          <li class="text-lg">
            <span class="font-bold">Step 3:</span> Copy the link to the team or page you want to
            share.
            <div class="flex mt-4">
              <div class="">
                <img src="./images/copy.png" alt="Copy" class="w-[457px] h-[213px]" />
              </div>
            </div>
          </li>
          <li class="text-lg">
            <span class="font-bold">Step 4:</span> Paste the link in the input field below and click
            "Choose".
          </li>
        </ol>

        <hr class="my-4" />
        <div>
          <label for="link" class="text-md font-bold">Link</label>
          <div class="flex flex-row items-start mt-2">
            <div class="flex-1 flex flex-col">
              <input
                id="linkInput"
                type="text"
                placeholder="Paste the link here"
                class="w-full p-2 border border-gray-300 rounded-md"
              />
              <span id="errorMessage" class="text-red-400 text-sm hidden"
                >Oops! It seems like you bring wrong link!</span
              >
            </div>
            <!-- <button id="chooseButton" class="p-2 bg-blue-500 text-white rounded-md">Choose</button> -->
            <button
              id="chooseButton"
              type="chooseButton"
              class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-2"
            >
              Choose
            </button>
          </div>
        </div>

        <!-- Empty list to display added links -->
        <div id="linkList" class="mt-4 grid grid-cols-2 gap-4"></div>
      </div>
      <hr />
      <div class="flex flex-row w-full justify-center mt-4">
        <button
          id="submitButton"
          type="button"
          class="px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Done!
        </button>
      </div>
    </div>

    <script>
      let sharedList = [];

      function setLoading(isLoading) {
        const chooseButton = document.getElementById('chooseButton');

        if (isLoading) {
          chooseButton.innerHTML = `
               <svg
            aria-hidden="true"
            role="status"
            class="inline w-4 h-4 text-white animate-spin me-3"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="#E5E7EB"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor"
            />
          </svg>
          Loading...
              `;

          // const res = await fetch('https://great-yaks-wish.loca.lt/components/loadingButton.html');
          // chooseButton.innerHTML = await res.text();
          chooseButton.disabled = true;
        } else {
          chooseButton.innerHTML = 'Choose';
          chooseButton.disabled = false;
        }
      }

      document.getElementById('chooseButton').addEventListener('click', async function () {
        const linkInput = document.getElementById('linkInput').value;
        const errorMessage = document.getElementById('errorMessage');

        const urlParams = new URLSearchParams(window.location.search);
        const teamId = urlParams.get('team_id');

        // Regular expressions for both types of links
        const designLinkRegex = /\/design\/([^\/]+)/;
        const teamLinkRegex = /\/team\/(\d+)/;

        let extractedID = '';
        let linkType = '';

        // Check if the link matches the design link pattern
        if (designLinkRegex.test(linkInput)) {
          const match = linkInput.match(designLinkRegex);
          if (match && match[1]) {
            extractedID = match[1];
            linkType = 'file';
          }
          errorMessage.classList.add('hidden'); // Show the error message
        }
        // Check if the link matches the team link pattern
        else if (teamLinkRegex.test(linkInput)) {
          const match = linkInput.match(teamLinkRegex);
          if (match && match[1]) {
            extractedID = match[1];
            linkType = 'team';
          }
          errorMessage.classList.add('hidden'); // Show the error message
        } else {
          errorMessage.classList.remove('hidden');
          console.error('Invalid Figma link format');
        }

        if (extractedID && linkType) {
          // Start loading
          setLoading(true);
          console.log(`Extracted ${linkType} ID:`, extractedID);

          // Example API call with the extracted ID and link type
          try {
            const response = await fetch('https://great-yaks-wish.loca.lt/figma/getPages', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                extractedID,
                linkType,
                teamId: teamId,
              }),
            });

            const newItems = [];
            if (linkType === 'team') {
              // console.log('API response:', await response.json());
              const projects = await response.json();

              console.log('Projects:', projects);

              projects.forEach((project) => {
                project.files.forEach((file) => {
                  newItems.push({
                    id: file.key,
                    name: file.name,
                    thumbnailUrl: file.thumbnail_url,
                  });
                });
              });
            } else {
              const page = await response.json();
              console.log('Pages:', page);
              newItems.push({
                id: extractedID,
                name: page.name,
                thumbnailUrl: page.thumbnailUrl
              });
            }

            sharedList = sharedList.concat(newItems);

            let listItemsHTML = '';
            for (const item of newItems) {
              listItemsHTML += `
                  <div class="flex flex-row justify-between px-2" id=${item.id}>
  <div class="flex items-center gap-4 mb-4">
    <img src="${item.thumbnailUrl}" alt="${item.name} thumbnail" class="w-16 h-16" />
    <span>${item.name}</span>
  </div>
  <button class="text-black delete-button" data-target=${item.id}>
    <svg
      class="w-6 h-6 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        fill-rule="evenodd"
        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
</div>

          `;
            }
            // Insert the HTML string into the linkList
            document.getElementById('linkList').innerHTML += listItemsHTML;

            // // Add the link to the list
            // linkList.appendChild(listItem);

            // Clear the input field
            document.getElementById('linkInput').value = '';

            // Add event listeners to the new delete buttons
            document.querySelectorAll('.delete-button').forEach((button) => {
              button.addEventListener('click', function () {
                console.log('Delete button clicked');
                const targetId = this.getAttribute('data-target');
                document.getElementById(targetId).remove();
                sharedList = sharedList.filter((item) => item.id !== targetId);
              });
            });
          } catch (error) {
            console.error('There was a problem with the API call:', error);
          } finally {
            // Stop loading
            setLoading(false);
          }
        }
      });

      document.getElementById('submitButton').addEventListener('click', async function () {
        console.log('Shared list:', sharedList);
        // Example API call with the shared list
        try {
          const urlParams = new URLSearchParams(window.location.search);
          const teamId = urlParams.get('team_id');

          const response = await fetch('https://great-yaks-wish.loca.lt/figma/share', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              teamId: teamId,
              shardPages: sharedList,
            }),
          });

          // console.log('API response:', await response.json());
        } catch (error) {
          console.error('There was a problem with the API call:', error);
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  </body>
</html>
